@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
    margin: 0 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
}

.element-1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

/* BACKGROUND */

.container-class {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
}

.container-class:after {
    filter: brightness(80%);
}

.container-class:after {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.863));
    position: absolute;
}

/* PARALLAX */

.parallax-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: left;
    margin-top: 50vh;
}

.parallax-content{
    z-index: 1;
}

.titleparallax{
    color: white;
    font-size: 2.6em;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateX(22vw);
    width: 100%;
}

/*=================  GRADE - FLEXBOX =================*/

.element-2{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.selections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
}

.titled4rk{
 color: #1AA744;
}

.selectionseach{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'poppins';
    font-weight: 200;
    font-size: 1em;
    padding: 0.25em;
    margin: 0.5em 0;
    border: solid 1.5px rgb(23, 94, 160);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.5em;
    cursor: pointer;
}

.selectionboxs{display: none;}
label[onclick="section()"]{cursor: pointer;}
.Linkedin{display: flex;justify-content: right;}

.selection1:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection2:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection3:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection4:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection5:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection6:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}
.selection7:hover{transition: .2s;background-color: rgb(21, 114, 201);color: white;}

.selection1:has(> #team1:checked) {background-color: rgb(29, 140, 243);color: #ffffff;}
.selection2:has(> #team2:checked) {background-color: rgb(29, 140, 243);color: white;}
.selection3:has(> #team3:checked) {background-color: rgb(29, 140, 243);color: white;}
.selection4:has(> #team4:checked) {background-color: rgb(29, 140, 243);color: white;}
.selection5:has(> #team5:checked) {background-color: rgb(29, 140, 243);color: white;}
.selection6:has(> #team6:checked) {background-color: rgb(29, 140, 243);color: white;}
.selection7:has(> #team7:checked) {background-color: rgb(29, 140, 243);color: white;}

.team1, .team2, .team3, .team4, .team5, .team6, .team7{
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: none;
}

div[class*=-grid-students] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

div[class*=-boxtext]{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.team-text{
    color: #000000;
    font-weight: bolder;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.area-text{
    color: #016938;
    font-weight: bolder;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.grid {
    background-color: #5B5B5B;
    margin: 0.5% 0;
    padding: 0.2em;
    width: 25vw;
    max-width: 33%;
    min-width: 300px;
    max-height: 680px;
    height: 70vh;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}
.grid:hover{
    transition: .3s;
    transform: scale(0.98);
}
.nametext{
    color: white;
    font-weight: 500;
    font-family: 'poppins';
    text-shadow: #000000 1px 1px 3px;
    font-size: 1.8em;
}

.cargotext{
    color: white;
    font-family: 'poppins';
    font-weight: 300;
    text-shadow: #000000 1px 1px 3px;
    font-size: 1.5em;
}


footer a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

/* FOTOS DOS ESTUDANTES -- GRID-STUDENTS*/
.team1-student1{background-image: url(../img/FotosDasEquipes/kauanalves.png);}
.team1-student2{background-image: url(../img/FotosDasEquipes/guilhermemarques.png);}
.team1-student3{background-image: url(../img/FotosDasEquipes/renan.png);}
.team1-student4{background-image: url(../img/FotosDasEquipes/israeltorres.png);}
.team1-student5{background-image: url(../img/FotosDasEquipes/gabrielmota.png);}
.team1-student6{background-image: url(../img/FotosDasEquipes/pedrohenrique.png);}

.team2-student1{background-image: url(../img/FotosDasEquipes/marinamagalhaes.jpg);}
.team2-student2{background-image: url(../img/FotosDasEquipes/isabelylino.png);}
.team2-student3{background-image: url(../img/FotosDasEquipes/evelinalbuquerque.jpg);}
.team2-student4{background-image: url(../img/FotosDasEquipes/charmile.png);}
.team2-student5{background-image: url(../img/FotosDasEquipes/analivia.png);}
.team2-student6{background-image: url(../img/FotosDasEquipes/vitoriajenifer.png);}

.team3-student1{background-image: url(../img/FotosDasEquipes/ludmillamonteiro.png);}
.team3-student2{background-image: url(../img/FotosDasEquipes/julianafeitosa.png);}
.team3-student3{background-image: url(../img/FotosDasEquipes/saraellen.png);}
.team3-student4{background-image: url(../img/FotosDasEquipes/lucasalves.jpg);}
.team3-student5{background-image: url(../img/FotosDasEquipes/carloshenrique.jpg);}
.team3-student6{background-image: url(../img/FotosDasEquipes/thiagoluna.png);}
.team3-student7{background-image: url(../img/FotosDasEquipes/sarajustino.png);}


.team4-student1{background-image: url(../img/FotosDasEquipes/franciscodeassis.png);}
.team4-student2{background-image: url(../img/FotosDasEquipes/erick.png);}
.team4-student3{background-image: url(../img/FotosDasEquipes/davisfelipe.png);}
.team4-student4{background-image: url(../img/FotosDasEquipes/joelsondossantos.png);}
.team4-student5{background-image: url(../img/FotosDasEquipes/mayronendew.png);}
.team4-student6{background-image: url(../img/FotosDasEquipes/rafael.png);}

.team5-student1{background-image: url(../img/FotosDasEquipes/marianamoura.jpg);}
.team5-student2{background-image: url(../img/FotosDasEquipes/hezequiel.png);}
.team5-student3{background-image: url(../img/FotosDasEquipes/m.eduardacosta.png);}
.team5-student4{background-image: url(../img/FotosDasEquipes/eduardaduarte.png);}
.team5-student5{background-image: url(../img/FotosDasEquipes/pablokevin.png);}
.team5-student6{background-image: url(../img/FotosDasEquipes/sararebeca.png);}

.team6-student1{background-image: url(../img/EquipeDeProgramacao/joaocarlos.jpg);}
.team6-student2{background-image: url(../img/EquipeDeProgramacao/escobarly.jpg);}
.team6-student3{background-image: url(../img/EquipeDeProgramacao/samyla.jpg);}
.team6-student4{background-image: url(../img/EquipeDeProgramacao/vinicius.jpg);}
.team6-student5{background-image: url(../img/EquipeDeProgramacao/laura.jpg);}
.team6-student6{background-image: url(../img/EquipeDeProgramacao/alvororuan.jpg);}

.team7-student1{background-image: url(../img/EquipeDosProfessores/1.jpg);}
.team7-student2{background-image: url(../img/EquipeDosProfessores/2.jpg);}

@media screen and (max-width: 1380px) {
    .grid {
        min-width: 350px;
        width: 26vw;
        height: 60vh;
    }
}
@media screen and (max-width: 1360px) {
    .grid {
        height: 70vh;
    }
}
@media screen and (max-width: 1280px) {
    .grid {
        height: 58vh;
    }
}
@media screen and (max-width: 1114px) {
    .parallax-box {
        margin-top: 45vh;
        margin-left: -5%;
    }
    
    .titleparallax {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 1080px) {
    .grid {
            width: 33vw;
            height: 50vh;
        }
}
@media screen and (max-width: 884px) {
    .titleparallax {
        transform: translateX(10vw);
    }
    .grid {
        min-width: 300px;
        max-height: 450px;
    }
    .container-class {
        width: 100%;
        height: 100%;
        background-image: url('../img/background3Mob.png');
        background-attachment: local;
        background-position: center center;
    }

    .container-class:after {
        width: 100%;
        height: 0vh;
    }

    .element-1 {
        width: 100%;
        height: 70vh;
    }

    .parallax-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
        margin-top: 45vh;
        margin-left: -0%;
    }

    .titleparallax {
        font-size: 3.5em;
    }
}
@media screen and (max-width: 768px) {
    .grid {
        max-height: 400px;
    }
    .container-class {
        width: 100%;
        height: 100%;
        background-image: url('../img/background3Mob.png');
        background-attachment: local;
        background-position: center center;
    }

    .container-class:after {
        width: 100%;
        height: 0vh;
    }

    .element-1 {
        width: 100%;
        height: 55vh;
    }

    .parallax-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
        margin-top: 23vh;
        margin-left: -5%;
    }

    .titleparallax {
        font-size: 2em;
    }
}
@media screen and (max-width: 428px) {
    .container-class {
        width: 100%;
        height: 100%;
        background-image: url('../img/background3Mob.png');
        background-attachment: local;
        background-position: center center;
    }

    .container-class:after {
        width: 100%;
        height: 0vh;
    }
    .element-1 {
        width: 100%;
        height: 35vh;
    }
    .parallax-box {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: left;
        margin-top: 23vh;
        margin-left: -5%;
    }

    .titleparallax {
        font-size: 2em;
    }
}
@media screen and (max-width: 375px) {
    .element-2 {
        padding: 2.5%;
    }
    .selections {
        width: 95vw;
    }
}

@media screen and (max-width: 360px) {
    .element-2 {
        margin: 0.5% 0;
        padding: 0.2em;
    }
    .selections {
        width: 98vw;
    }
}

@media screen and (max-width: 320px) {
    .element-2 {
        margin: 1% 2.5%;
        padding: 0em;
    }

    .grid {
        min-width: 300px;
    }
    .selections {
        width: 95vw;
    }
    .titleparallax {
        font-size: 1.6em;
    }
    .parallax-box {
        margin-top: 22vh;
    }
}