@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/*::-webkit-scrollbar{
 width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #17794B;
}*/

header{
    width: 100%;
    height: 90px;
    background-color: #17794B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

header>h1{
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    width: 70px;
    margin: 20px;
    color: white;
}

#menu-icon{
    font-size: 35px;
    margin: 30px;
    color: white;
    display: none;
}

header>nav>a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.button{
    border-radius: 50px;
    width: 37px;
    height: 37px;
    border: none;
    background-color: rgb(44, 43, 43);
    margin: 10px;
    cursor: pointer;
}

#icon-moon{
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

#icon-sun{
    display: none;
    color: rgb(240, 156, 12);
    font-size: 20px;
}

main{
    width: 100%;
    height: 600px;
    background-image: url(../img/home.jpeg);
    /* filter: brightness(50%); */
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main:after{
    content: "";
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.863));
    position: absolute;  
}

article{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #17794B;
    color: white;
}

article>img{
    width: 40%;
    border-radius: 5px;
    margin: 16px;
}

article>h1>{
   display: flex;
   flex-direction: column;
   margin: 16px;
   font-size: 1rem;
}

article>h1>p{
    width: 600px;
    font-weight: 400;
    font-size: 0.7em;
    text-align: justify;
}

article a {
color: #fff
}

.title-box{
  padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}

.containers{
    width: 300px;
    height: 370px;
    overflow: hidden;
    position: relative;
    margin: 15px;
    background-color: #ffffff;
    color: #17794B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
}
.containers::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.151);
           
}

.containers img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%);
}

.containers:hover img {
transform: translateY(0);
filter: brightness(50%);
}

.containers>i{
margin: 13px;
position: absolute;
font-size: 35px;
}

.h1textcard{
position: absolute;
top: 50%;
z-index: 2;
color: #17794B;
font-size: 30px;
font-weight: bold;
margin: 13px;
}

.containers p{
    font-size: 19px;
    font-weight: 400;
}

.containers:hover .h1textcard{
    color: white;
  transition:.6s ;
}

.containers:hover i{
    color: white;
  transition:.6s ;
  z-index: 2;
}

/* sessão de curiosidades */

details{
    font-weight: 400;
}

#curiosidades{
    padding-bottom: 100px;
}


.title-curiosidades {
    text-align: center;
}

summary {
    all: unset;
    padding: 16px;
    color: #fff;
    background-color: #17794B;
    border-radius: 19px;
    height: 40px;
    cursor: pointer;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
summary label{
    all: unset;
}

.duvida {
    display: flex;
}

.duvida-last {
    padding-bottom: 30px;
}

details{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid #17794B;
    border-left: 3px solid #17794B;
    border-right: 3px solid #17794B;
    border-radius: 25px;
    margin: 10px 60px;
}

details p {
    padding: 8px 15px;
    font-size: 0.95em;
}

/* fim da sessão curiosidades */

footer{
    width: 100%;
    height: 270px;
    background-color: #17794B;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

footer>div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.title-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
}

.p2{
    width: 300px;
    font-weight: 400;
    font-size: 20px;
}

.logo-footer{
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer>div>nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.p-footer{
    padding: 20px;
    color: white;
    background-color: #17794B;
    text-align: center;
}

.navbar{
    background-color: #ffffff;
    color: #17794B;
    height: 100%;
    width: 300px;
    position:fixed;
    z-index: 888;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#close-icon{
    font-size: 35px;
    color: #17794B;
    margin: 20px;
    cursor: pointer;
}

.div-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar> div{
    display: flex;
    flex-direction: column;
}

.div-navbar h1 img{
    width: 58px;
    margin: 10px;

}

.div-navbar>h1{
    display: flex;
    align-items: center;  
}

.navbar nav a{
    text-decoration: none;
    color: #17794B;
    z-index: 9999;
    top: 0px;
    padding: 10px;
    font-weight: 600;
}

.navbar nav a:hover{
    border-left: #17794B solid 6px;
    transition: .4s ease-in-out;
}

.navbar>div>nav{
    display: flex;
    flex-direction: column;
}

.dark-verde{
    background-color: #10482E;
    transition:.3s;
}

.dark{
    background-color: #2D2B2B;
    transition:.3s;
}

.title-dark{
    color: white;
    transition:.3s;
}

.button-white{
    background-color: #fff;
}

@media (max-width:1800px) and (min-width:1100px) {
    article{
        height: 70vh;
    }
}   

@media (max-width:1100px) and (min-width:310px){
    #menu-icon{
        display: inline;
    }
    header>nav{
        display:flex;
        align-items: center;
    }
    header>nav>a{
        display: none;
    }
    article{
        height: 70vh;
        flex-wrap: wrap;
    }

    article>h1>p {
        text-align: justify;
    }

    article>img{
        width: 470px;
    }

    .box{
        height: 2000px;
        flex-wrap: wrap;
    }
    
}

@media (max-width:680px) and (min-width:310px){
    footer{
        flex-direction: column;
        height: 660px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    
        }
    
        .div1-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .title-footer{
            width: 300px;
        } 
}

@media (max-width:918px) and (min-width:680px){
    footer{
        height: 460px;
    }
}

@media (max-width:1100px) and (min-width:1040px){
    article>img{
        width: 330px;
    }
}



@media (max-width:1100px) and (min-width:710px){
    .box{
        height: 1000px;
        flex-wrap: wrap;
    }
    article{
        height: 800px;
    }
}

@media (max-width:740px) and (min-width:675px){
    .box{
        height: 1000px;
        flex-wrap: wrap;
    }
}

@media (max-width:740px) and (min-width:710px){
    .box{
        height: 1000px;
        flex-wrap: wrap;
    }
}

@media (max-width:745px) and (min-width:734px){
    .box{
        height: 1000px;
        flex-wrap: wrap;
    }
}

@media (max-width:1100px) and (min-width:1040px){
    article{
        height: 600px;
        flex-wrap: wrap;
    }
}

@media (max-width:700px) and (min-width:500px){
    article>h1>p{
        width: 400px;
    }
    article{
        height: 900px;
    }
}

@media (max-width:650px) and (min-width:520px){
    main{
        height: 450px;
    }
    main:after{
        height: 450px;
    }
}

@media (max-width:520px) and (min-width:300px){
    main{
        height: 300px;
    }
    main:after{
        height: 300px;
    }
}


@media (max-width:520px) and (min-width:310px){
    article{
        height: 1100px;
        flex-wrap: wrap;
    }
    article>img{
        width: 300px;
    }
    article>h1>{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        height:400px;
     }
     
     article>h1>p{
         width: 270px;
         height:600px;
         font-weight: 400;
         font-size: 0.7em;
         padding-bottom: 80px;
         
     }
     header>h1{
        display: flex;
        align-items: center;
        color: white;
    }
    
    .logo{
        width: 63px;
        margin: 20px;
        color: white;
    }     

}


@media (max-width:1336px) and (min-width:1100px) {
    #curiosidades {
        margin-top: 250px;
    }
}

@media screen and (max-width: 375px) {
    
        .logo {
            width: 60px;
            margin: 20px;
        }
    
        header>nav>a {
            margin: 0px;
        }
    
        .button {
            border-radius: 50px;
            margin: 0 0;
        }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 50px;
        margin: 5px;
    }

    .button {
        margin: 0 0 0 20px;
    } 
}

.containersdark {
    background-color: #514C4C;
}

.whitecc {
    color: white;
}
.containersdark:hover>.whitecc,
.containersdark:hover>.h1textcard>.whitecc,
.containersdark:hover>i{
    color: #17794B;
}