.parallax-image{
    background-image: url(../img/matFinanceira.jpg);
    filter: brightness(50%); 
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}