*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body,html{
    height: 100%;
}

/*Header*/

#div-section-1>p{
    padding: calc(10% + 80px);
    font-size: 2.7em;
    font-weight: 500px;
    color: rgb(255, 255, 255);
}

#parallax-image{
    background-image: url(../img/contabilidade.jpg
    );
    filter: brightness(50%);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-color: #10482e;
}

/*fim Header*/


/*Nav*/

#nav-videos{
    background-color: #17794B;
    width: 100%;
    height: 186px;
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}

#nav-videos>p{
    font-size: 23px;
    color: white;
    width: 70%;
}

/*Fim Nav*/


/*Barra de Quantidade de videos*/

#h2-info {
    color: #fff;
    margin-bottom: 30px;
}

#div-main-duração{
margin-top: 30px;
   text-align: center;
   height: 200px;
   background-color: #000;
}

.img-barra-de-nav{
    width: 40px;
    height: auto;
}

#barra-de-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

#barra-de-nav span {
    color: #34D91A;
}

.letras-bar-nav {
    color: #fff;
    margin-bottom: 20px;
}

.barra-de-nav1{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.barra-de-nav2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.barra-de-nav3{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



/*Fim Barra de Quantidade de videos*/


/*Section videos*/

#section-videos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#div-all-videos{
    padding: 30px 0px 0px 0px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videos-contabilidade{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.videos{
    width: 1000px;
    height: 600px;
}

.h2-contabilidade-videos{
    color: #000;
}

.p-video-contabilidade{
    color: #000;
    padding-bottom: 50px;
}


/*Fim section videos*/

#footer-cursos{
    margin-top: 0px;
}

/**/
/**/



@media screen and (max-width: 1020px){

    #parallax-image{
        background-image: url(../img/group2.jpg
        );
        width: 100%;
        height: 500px;
        background-position: center;
        background-size:cover;
        background-color: #10482e;
    }
    
    #div-section-1>p{
        padding: 260px 4%;
        font-size: 2.3em;
        font-weight: 500px;
    }

    #nav-videos{
        height: 310px;
        padding: 10px 0px 0px 0px;
    }

    #nav-videos>p{
        padding: 20px 4%;
        font-size: 1.1em;
        color: white;
        width: 100%;
    }

    .img-barra-de-nav{
        width: 100%;
        max-width: 50px;
        height: auto;
        padding: 10px 4%;
    }

    #div-main-duração{
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
     }

     .letras-bar-nav{
        font-size: 0.7em;
     }

     #h2-info{
        padding: 10px 4%;
     }

     .videos-contabilidade{
        width: 100%;
        max-width: 350px;
    }

     .videos{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 400px;
        max-height: 100%;
     }

}

/**/
/**/
